* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scrollbar-color: transparent #0f0f0f;
  scroll-behavior: smooth;
}
*:hover {
  scrollbar-color: #ababab #0f0f0f;
}

:root {
  /* COLOR */
  --HEADER-BGCOLOR: #000;
  --ICON-BG: #222222;
  --FONT-COLOR: #fff;

  /* BORDER */
  --SEARCH-BORDER: 1px solid rgb(110, 110, 110);
  --SEARCH-ACTIVE-BORDER: 1px solid rgb(56, 56, 174);
}
header, .header-nav {
  position: sticky;
  top: 0px;
}
/* header nav bar */
/* .header-nav{
  height: 60px;
  position: sticky;
  top:1px;
  z-index: 100;
} */
.header-div {
  height: 60px;
  background-color: var(--HEADER-BGCOLOR);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 1px;
  z-index: 100;
}
.header-left-logo {
  height: 56px;
  width: 169px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.left-logo-three-line {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.left-logo-three-line:hover {
  background-color: var(--ICON-BG);
}
.header-middle-part {
  width: 700px;
  height: 40px;
  display: flex;
  justify-content: space-around;
}
.header-search-input {
  height: 40px;
  width: 600px;
  display: flex;
  justify-content: space-around;
}
.hd-search-message {
  height: 40px;
  width: 536px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
  border: var(--SEARCH-BORDER);
}
.hd-search-message:hover {
  border: var(--SEARCH-ACTIVE-BORDER);
}
.search-input {
  padding: 10px;
  height: 26px;
  width: 515.6px;
  color: #fff;
  background-color: var(--HEADER-BGCOLOR);
  border: none;
}
.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  font-weight: 500;
  font-size: 1rem;
  color: #dcdcdc;
}
.hd-search-icon {
  height: 40px;
  width: 64px;
  border-radius: 0 20px 20px 0;
  background-color: var(--ICON-BG);
  border: var(--SEARCH-BORDER);
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hd-mic-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: var(--ICON-BG);
}

.hd-mic-icon:hover {
  background-color: #3e3e3e;
}
.header-right-part {
  height: 40px;
  width: 225px;
}
.hd-rigth-items {
  height: 40px;
  width: 156px;
  display: flex;
  justify-content: space-around;
}
.hd-right-icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: var(--HEADER-BGCOLOR);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hd-right-icon:hover {
  background-color: var(--ICON-BG);
}
.hd-right-profile {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: block;
}

/* SECTION LEFT SIDE  */
/* #left-section{
  display: flex;
} */
.section-left-mainDiv {
  padding: 10px 15px;
  position: fixed;
  /* min-height: 140vh; */
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--HEADER-BGCOLOR);
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent #0f0f0f;
}

.section-left-mainDiv:hover {
  scrollbar-color: #ababab #0f0f0f;
}
.section-left-MD-child {
  height: 100vh;
  width: 216px;
  color: var(--FONT-COLOR);
}
#left-MD-child-home-element {
  height: 40px;
  width: 204px;
  border-radius: 15px;
  background-color: var(--ICON-BG);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.left-MD-child-elements {
  height: 40px;
  width: 204px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.left-MD-child-elements:hover {
  background-color: var(--ICON-BG);
}

.left-section-img {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section-img img {
  height: 24px;
  width: 24px;
  border-radius: 12px;
}
.left-section-img-word {
  height: 20px;
  width: 132px;
  font-size: 0.9rem;
}

/* your profile and your channel info YOU  */
.left-second-part-you {
  margin-top: 13px;
  border-top: var(--SEARCH-BORDER);
}
#you-section {
  padding-top: 10px;
  height: 40px;
  width: 204px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding-left: 15px;
}
#you-section:hover {
  background-color: var(--ICON-BG);
}
#you {
  width: 35px;
  height: 22px;
  font-weight: 500;
}

/* HEADINGS LIKE SUBSCRIPTION EXPLORE */
.left-headings {
  margin-top: 13px;
  border-top: var(--SEARCH-BORDER);
}
.heading-letter {
  padding: 10px 20px;
  height: 32px;
  width: 216px;
  font-weight: 500;
}

/* feed content  */
.feed-filter-MD {
  height: 56px;
  background-color: var(--HEADER-BGCOLOR);
  z-index: 1;
  padding-left: 250px;
  color: var(--FONT-COLOR);
  overflow: hidden;
  overflow-x: auto;
  gap: 2px;
  scrollbar-width: thin;

  scrollbar-color: var(--HEADER-BGCOLOR);
}
.feed-filter-div {
  height: 32px;
  width: 40px;
  border-radius: 10px;
  border: var(--SEARCH-BORDER);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 12px 12px 0;
}
.item-name {
  height: 20px;
}
/* feef content */
.feed-container {
  padding-left: 245px;
  padding-top: 5px;
  color: var(--FONT-COLOR);
  background-color: var(--HEADER-BGCOLOR);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}
.thumnail-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 405px;
  height: 340px;
}
.thumbnail {
  height: 230px;
  width: 405px;
}
.thumbnail-img {
  height: 230px;
  width: 405px;
}
.creator-profile img {
  margin: 5px -5px 0 20px;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}
.video-title {
  height: 100px;
  width: 405px;
  
  display: flex;
  gap: 20px;
}
.title-heading {
  font-size: 1.4rem;
}
.heading-tick {
  margin-top: 5px;
  height: 17px;
  width: 301px;
  display: flex;
}
